/* * {
    border: solid 1px black;
    box-sizing: border-box;
} */
img{
    max-width: 100%;
}
    

.navbar {
    /* background-image: url('img/header/nav-pic.jpg'); */
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 25px;
    font-family: 微軟正黑體;
    color: white;
    letter-spacing: 10px;
    font-weight: bolder;   
}
.nav_container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2)
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 150px;
    margin: auto;
    
}
.nav-item {
    padding: 10px;
}
.nav-link {
    color: white !important ;
    
}
.navlogo img {
    width: 130px;
    height: 130px;
}
.navlogo {
    z-index: 9999;
}
.slogan {
    text-align: center;
    letter-spacing: 25px;
    font-family: 標楷體;
    /* 字型記得改英文 */
}

/* swiper */
.swiper-container {
    /* margin-top: 200px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 16px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slider {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer{
    width: 100%;
    background-color: gray;
    text-align: center;
    position: relative;
    margin-top: 10px;
}
.footer_icon{
    position: absolute;
    left: 0;
}
.icon{
    display: inline-block;
    margin-left: 50px;
    padding: 3px;
}
.icon img{
    width: 50px;
    height: 50px;   
}
.copyright{
    padding: 15px;
}
